@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background: #191b1d;
  --color-foreground: #fff0db;
  --color-primary: #dc143c;
  --color-primary-transparent: #dc143c4d; /* 30% opacity */
  --font-display: "BrandDisplay", "serif";
}

@font-face {
  font-family: "BrandDisplay";
  src: url("/fonts/brown-sugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandSans";
  src: url("/fonts/ysabeau-office-latin-200-normal.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandSans";
  src: url("/fonts/ysabeau-office-latin-400-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandSans";
  src: url("/fonts/ysabeau-office-latin-700-normal.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "BrandSans", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  letter-spacing: -5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BrandDisplay", serif;
}
::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
